.image-container {
    width: 100%;
    height: calc(100vh - 30px);
    box-sizing: border-box;
    position: relative;
}

.image-background {
    margin: 30px 30px 30px 65px;
    width: calc(100%-30px);
    height: calc(100% - 60px);
    background-color: #FBE0DC;
    border-radius: 20px;
}

.image {
    height: 100vh;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    position: absolute;
    top: -60px;
}